#top-cheak{
    display: grid;
    width: 90%;
   /* border: 1px solid red; */
    height: 100px;
    margin: auto;
  margin-top: 40px;
}
#top-cheak>p{
    font-size: 20px;
    font-weight: bolder;
}
#top-cheak>div{
    display: flex;
    align-items: center;
   background-color: 
   #fff3f3;
   height: 30px;
   color: #9d6b6b;
}
#top-cheak>div>p{
    margin-left: 10px;
}
#fom-add{
    width: 90%;
    display: flex;
   border: 1px solid gray;
   margin: auto;
  gap: 20px;
   margin-top: 20px;
   border-radius: 5px;
}
#fom-add>div:last-child{
    display: flex;
    align-items: center;
  width: 40%;
  /* border: 1px solid green; */
}
#fom-add>div:last-child>p{
    margin-top: 560px;
    color: gray;
}
.fom-addfull{
    width: 50%;
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 10px;
}
.fom-addfull>div{
    display: flex;
    /* border: 1px solid green; */
    height: 70px;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
}
.fom-addfull>div>input{
   
    padding: 10px;
    width: 60%;
    align-items: center;
    justify-content: flex-end;
    border-radius: 5px;
    border: none;
    border: 1px solid gray;
    outline: none;
    
}

.fom-addfull>div:last-child{
justify-content: center;
}
.fom-addfull>div:last-child>button{
    padding: 10px 40px;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    background-color: #0066ff;
    color: white;
    cursor: pointer;
}
.fom-addfull>div:last-child>button:last-child{
    border: 1px solid black;
    background-color: white;
    color: black;
}